.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--brow-100);
  margin: 8px auto;
  padding: 0.375rem;
  border-radius: 8px;
  font-size: 1.3rem;
  width:90%;
  gap:5rem;
}

.buttonDelete{
  background: none;
  border: none;
  color: var(--brown-600);
  display: block;
}

.buttonDelete:hover{
  cursor: pointer;
  opacity: 0.7;
}
