.container{
  display: flex;
  background: var(--white);
  width: 50%;
  border-radius: 8px;
  margin: 3rem auto;
 
}

.listItems{
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
.cart{

  max-width: 10rem;
  max-height: 10rem;
margin: auto;
}